In [1]:
import os
import sys
sys.path.append('../../dqt')
import dqt   
import pandas as pd
from importlib import reload
from pathlib import Path
# from dotenv import load_dotenv, find_dotenv
from dqt import Query
import warnings
warnings.filterwarnings('ignore')

/Users/mingham/growth/.venv/lib/python3.11/site-packages/snowflake/connector/options.py:103: UserWarning: You have an incompatible version of 'pyarrow' installed (12.0.1), please install a version that adheres to: 'pyarrow<10.1.0,>=10.0.1; extra == "pandas"'
  warn_incompatible_dep(

## Simple paramterised sql call run on snowflake:

In [4]:
q=Query("select {{field_1}}, {{field_2}} from lyst_analytics.union_touch_points limit {{limit}}", field_1="ultimate_id", field_2="event_timestamp", limit="10")
q.load()

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJPb6MwEMW%2FCvKewWA2TWOFRDRRlEjtNhvoHnrzYodYNTb1mJLup1%2BTP1L30Ep7QEL2e%2F7NzJvp%2FNio4E1YkEZnKIliFAhdGS51naGnchXeogAc05wpo0WG3gWg%2BWwKrFEtzTt30Dvx2glwgX9IAx0uMtRZTQ0DCVSzRgB1FS3yh3tKopgyAGGdx6GLhYP0rINzLcW47%2FuoTyNja0ziOMbxBHvVIPmGPiDarxmtNc5URl0tR9%2FTJ4gEx98HhFd4wvZivJP6PIKvKL%2FPIqDrstyG28eiREF%2B7W5hNHSNsIWwb7IST7v7cwHgK1gVN%2BMJIZHowt6PLkwi0KbfK%2FYiKtO0nfOvRv4P7wXHytTSz2qzzFD7Ink%2B4uvJ%2FqBALI9tQbY72eyXf0aqfwbS1yN2y9Z33a79%2Bfj6UKHg1zVZMiS7AejERg95On8UkzRM4pAkZTKmJKXpKEqT9BkFS1%2BU1MydnNeiWVWZTjuIamNqJU71GTyEQbDk7dx%2FkmeLOKk1H98c0XlJ6IlpZ%2F%2Fb%2BhR%2FdF%2F27YePYLPcGiWr92BlbMPc5wklUXI6kTzcn6RUNEyqnHMrAHxSSpl%2BYQVzfq2d7QTCszP138We%2FQU%3D&RelayState=53906 to authenticate...

                            ULTIMATE_ID     EVENT_TIMESTAMP
0  e9ad91fd-0bc1-4e6a-b9e1-588e74a78d7b 2018-05-19 05:20:26
1  d30a1131-00c4-42b8-98e7-39a969dc3cb7 2018-05-19 17:01:29
2  7d67e449-164c-4bc3-a9e8-942a285f7e63 2018-05-19 04:27:10
3  1e80a47d-7c64-449a-821a-ef5948f87994 2018-05-19 12:18:23
4  7d67e449-164c-4bc3-a9e8-942a285f7e63 2018-05-19 04:26:50
5  0c11f4ef-7651-4e3f-8504-8f651ce1e247 2018-05-19 03:26:12
6  87ab2136-8825-4c17-bdbc-4d55f81501c8 2018-05-19 15:52:43
7  49a9ceaa-81ee-4a7b-a483-c345f1b56a34 2018-05-19 23:16:51
8  87ab2136-8825-4c17-bdbc-4d55f81501c8 2018-05-19 15:52:40
9  44c3c2f8-f41d-4dd8-8568-cfdd3292c6c6 2018-05-19 13:25:37

## Parameterized sql query template

In [2]:
# q=dxt.Query("purchase_intents.sql",min_query_date="2023-09-01")
q=dqt.Query("aggregate_user_data.sql",min_query_date="2023-09-01")

q.load()

TemplateNotFound: macros.jinja

### Examining the compiled SQL
You can either print the compiled SQL, via the .text property or open it in a text editor via the .open() method

In [3]:
q.sql

SELECT ultimate_id,
       event_timestamp
FROM lyst_analytics.union_touch_points
LIMIT 10

In [80]:
q.sql.open()

## Using macros with local data (we shall use the output form the above cell)

In [3]:
q=dqt.Query("""
with a as (             
SELECT "sessions.event_timestamp_week" week,"retailers_expanded.network" retailer,"tracks.conversion_rate" cr,
 {{ mymacros.ma('cr',4,order='week') }} ma4
FROM '{{table}}')
select *, {{ macros.pct_change('cr',4,order='week') }} wow_ma4 from a;
""",table=q.csv)
# q.load()

NameError: name 'q' is not defined